/* Video content */
.index-video-content{
	margin-top:0px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1199px) {
	
	
}

@media only screen and (max-width: 991px) {
	
		
}

@media only screen and (max-width: 767px) {
	


@media only screen and (max-width: 600px) {
	

}

@media only screen and (max-width: 500px) {
	
	
}

@media only screen and (max-width: 400px) {
	
	
}


