/* ############ FONTS ############ */

@font-face {
    font-family: 'VarelaRoundRegular';
    src: url('../fonts/VarelaRoundRegular.eot');
    src: url('../fonts/VarelaRoundRegular.eot') format('embedded-opentype'),
         url('../fonts/VarelaRoundRegular.woff2') format('woff2'),
         url('../fonts/VarelaRoundRegular.woff') format('woff'),
         url('../fonts/VarelaRoundRegular.ttf') format('truetype'),
         url('../fonts/VarelaRoundRegular.svg#VarelaRoundRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSansSemibold.eot');
    src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansSemibold.woff2') format('woff2'),
         url('../fonts/OpenSansSemibold.woff') format('woff'),
         url('../fonts/OpenSansSemibold.ttf') format('truetype'),
         url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}


/* ############ GLOBAL ############ */

html, body {
	height: 100%;
	font: normal 10px/1.4 arial,sans-serif;
	font-family: 'OpenSansRegular';
	color: #2c6976;
	cursor: default;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

html {
       overflow-y: scroll;
}

body {
	background: #ffffff;
}

* {
	box-sizing: border-box;
}

::-moz-selection {
    background: #e8e1dc;
    text-shadow: none;
}

::selection {
    background: #e8e1dc;
    text-shadow: none;
}

a {
	text-decoration: none;
}

a:hover{
	opacity:0.7;
}

.footer-links {
  color: #fff;
}

.footer-links:hover {
  text-decoration: none;
  color: #fff;
}

b, strong {
	font-weight: normal;
}

p {
	font-size:2rem;
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1, h2, h3, h4, h5, h6, li {
	line-height:1.2;
	font-family: 'VarelaRoundRegular';
	font-weight:bold;
    -webkit-margin-before: 0.0em;
    -webkit-margin-after: 0.0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: none;
}

h1{
	font-size:3.2rem;
	color:#f26f16;
	padding-bottom:2.5rem;
}
h2{
  font-size: 25px;
  padding-bottom: 20px;
}
h2 a {
  color: #2c6976;
}

h3{
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

p.reg {
}
.reg a:hover {
  text-decoration: none;
  opacity: 1;
}

ol, ul, li {
	list-style: none;
}

ul, menu, dir, li {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.small {
  font-size: 14px;
  padding-top: 60px;
  padding-bottom: 100px !important;
  line-height: 20px;
  width: 65%;
  margin: 0 auto;
}

.teal {
  color: #1f7f95 !important;
}

.teal a, .teal a:hover {
  color: #1f7f95;
}
.paddingbottom3rem {
  padding-bottom: 3rem;
}

.box {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.box2 {
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
}
.big-box {
  background-color: #fff;
}
.small-box {
  background-color: #1f7f95;
}
.small-box h2, .small-box li {
  color: #fff;
}
.box h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
.box ul {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 12%;
}
.box li {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}
.box li:before {
  content: "\2022 \00A0";
  color: #f26f16;
  font-size: 16px;
}
.box2 h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
.box2 ul {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 20%;
}
.box2 li {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
}
.box2 li:before {
  content: "\2022 \00A0";
  color: #f26f16;
  font-size: 16px;
}
.center {
  margin: 0 auto;
}

.slider h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 80%;
  margin: 0 auto;
  color: #1f7f95;
}

cite {
  float: right;
  width: 33%;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
}

blockquote {
  margin: 10px 10px 0;
  background: #fff;
  padding: 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-size: 1.25em;
  color: #1f7f95;
}
blockquote:before, blockquote:after {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  padding: 10px;
  line-height: 1;
  color: #f26f16;
  font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 700;
}
blockquote:before {
  top: 0;
  left: 10px;
}
blockquote:after {
  content: "\201D";
  right: 10px;
  bottom: -.5em;
}
.marginbottom100 {
  margin-bottom: 100px;
}

/* Contact form */
.form-field {
  display: inline-block;
}
.block {
  display: block;
}
.blockmobile {
  display: none;
}
.ptop {
  padding-top: 20px;
}
.pleft0 {
  padding-left: 0;
}
.submitbutton {
  float: right;
  padding: 10px;
  font-size: 15px;
  background: #f26f16;
  border: 0;
  margin-top: 20px;
  color: #fff;
/*  border-radius: 10px;*/
}
button {
  background: #f26f16;
  border: 0;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 1px solid #1f7f95;
  outline: none;
  font-size: 20px;
}
label {
  display: block;
}
input {
  padding: 10px;
  border: 1px solid #1f7f95;
  outline: none;
  width: 100%;
  font-size: 20px;
}
.ptopmobile {
  padding-top: 0;
}

.answers {
  padding-bottom: 100px;
}

.answers h2, p {
    text-align: left;
    width: 95%;
    color: #fff;
}

.center, .center p {
  margin: 0 auto;
  text-align: center;
}

.center p {
  padding-bottom: 20px;
}

.no-padding-top {
  padding-top: 0 !important;
}

.mobi {
	display: none;
}

.visible {
	-webkit-transition: all 1s;
    transition: all 1s;
	opacity: 1 !important;
}

.clearfix:after{
	display:table;
	clear:both;
	content:"";	
}

.container{
	width:100%;
	max-width:1200px;
	margin:0 auto;
	display:block;
}

.container-fluid{
	padding-left:0px;
	padding-right:0px;
}

.shard{
  width:100%;
  position:relative;
  margin-top:-1px;
}
section{
  margin-top:-1px;  
}

/* Slick dots */
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
}
.slick-dots li button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #f0f0f0;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: #f26f16;
}

/* NAV > container > navbar-header / navbar-collapse */
.navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 0px;
    border: none;
    border-radius:0px;
}
/* navbar-header */
.navbar >.container .navbar-brand {
    float: left;
    height: auto;
    padding: 27px 0px 0px 0px; 
    font-size: 18px;
    line-height: 20px;
    margin-left:-30px;
}
.navbar-brand > img.five-a-day-logo {
    width:251px;
}
/* NAVICON */
.navbar-header button{
	margin:0px;
	padding:0px;
	border: none;
	background-color:transparent;
	outline:none;
	position:absolute;
	right:0;
	display:none;
}
#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}
#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
/* navbar-collapse */
.navbar .navbar-nav {
    float: right;
    margin: 0;
    margin-top:15px;
}
.navbar .navbar-nav li a{ 
	font-family: 'VarelaRoundRegular';
	font-weight:bold;
	font-size:18px;
	padding:0px;
	margin:15px;
	color:#ffffff;
}
.navbar .navbar-nav li a.active,
.navbar .navbar-nav li a:hover{
	border-bottom:2px solid #ffffff;
	background-color:transparent;
	opacity:1;
}
a.log-in{
	font-family: 'VarelaRoundRegular';
    font-weight: bold;
    font-size: 18px;
    padding: 8px 24px;
    margin: 0px;
    color: #ffffff;
    background-color: #f26f16;
    border-radius: 10px;
    margin-top: 6px;
    float: left;
    margin-left: 30px;
}


/* INDEX */
/* Top > Hero */
body.index .top{
	position:relative;
}
img.logo-blur{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}
div.top .inner{
	background-color: #51c8e3; /* Old browsers */
	
}
body.index .hero{
	padding-top:7rem;
}
body.index .hero .container{
	position:relative;
}
.hero p.reg{
	padding-bottom:3rem;
	padding-right:3em;
}
.hero p.sb{
    font-family: 'OpenSansSemibold';
	padding-bottom:3rem;
}
.cta{
	font-family: 'VarelaRoundRegular';
  font-weight: bold;
  font-size: 20px;
  padding: 8px 24px;
  margin: 0px;
  color: #ffffff;
  background-color: #f26f16;
  border-radius: 10px;
  margin-top: 6px;
  margin-right: 30px;
  border:none;
}
.cta2{
  font-family: 'VarelaRoundRegular';
  font-weight: bold;
  font-size: 20px;
  padding: 8px 24px;
  margin: 0px;
  color: #ffffff;
  background-color: #f26f16;
  margin-top: 6px;
  margin-right: 30px;
  border:none;
  position: inherit;
  margin-top: -20px;
  margin-left: 40%;
}
.cta3{
  font-family: 'VarelaRoundRegular';
  font-weight: bold;
  font-size: 20px;
  padding: 8px 15px;
  margin: 0px;
  color: #ffffff;
  background-color: #f26f16;
  margin-top: 6px;
  margin-right: 30px;
  border:none;
  position: inherit;
  margin-top: -20px;
  margin-left: 18%;
}
img.hero-index.image001{
	max-width: none;
    width: 190%;
    margin-left: -50%;
    margin-top: -50%;
}
img.hero-index.hero-image{
	max-width: none;
    width: 100%;
    margin-top: -40%;
}
.blue-cloud-bottom-shard{
  display:block;
  width:100%;
  margin-top:-90px;
}
/* Video content */
.index-video-content{
	z-index:-1;
	margin-top:-180px;
}
.index-video-replacement-slider {
  display:none;
  z-index: -1;
  margin-top: -40px;
}
/* Section & Footer Clip paths */
section.positives .inner{
  background-color: #51c8e3;
}
section.fitness{
  background-color: #dc3537;
  position:relative;
}
section.fitness > .content{
  background-color: #dc3537;
}
section.idea{
  background-color: #fff;
  position:relative;
}
section.easytouse {
  background-color: #dc3537;
  position: relative;
}
section.whysubscribe {
  background-color: #eb8841;
  position: relative;
}
section.unique {
  background-color: #bacd43;
  position: relative;
}
section.language{
  background-color: #eb8841;
  position:relative;
}
section.language .content{
  background-color: #eb8841;
}
section.time-2-chill{
  background-color: #bacd43;
  position:relative;
}
section.time-2-chill .content{
  background-color: #bacd43;
}
.positive-top-shard{
  margin-top:-100px;
}
.blue-cloud-bottom-shard{
  position:initial;
}
/* Section - Positives */
section.positives{
  position:relative;
}
section.positives .cloud-container{
  position:absolute;
  width:100%;
  top:0px;
  left:0px;
  z-index:1;
}
section.positives .cloud-container .container{
  position:relative;
}
section.positives .cloud-container img.cloud002{
  position: absolute;
  left: 100px;
}
section.positives .inner .container{
  padding-top:8rem;
}
section.positives .row{
    display: flex;
    flex-wrap: wrap;
  -webkit-justify-content: center;
    justify-content: center;
}
section.positives .row:before, section.positives .row:after{
  content: " ";
  display: table;
  width:100%;
}
section.positives .row > [class*='col-'] {
    display: flex;
  display:block;
}
.col-positive-unit{
  width:20%;
  padding-left:15px;
  padding-right:15px;
  float:left;
  margin-bottom:7rem;
  position:relative;
}
.col-positive-unit .icon-container{
  margin:0 auto;
  height:103px;
  max-width:100px;
  margin-bottom:20px;
  display:table;
}
.col-positive-unit .icon-container-inner{
  margin:0 auto;
  display:table-cell;
  vertical-align: middle;
}
.col-positive-unit img.icon{
  margin:0 auto;
  display:table-cell;
  vertical-align: middle;
  max-height:103px;
  max-width:103px;
}
.col-positive-unit .icon-descriptor{
  font-size:1.9rem;
  font-family: 'VarelaRoundRegular';
  font-weight:bold;
  text-align:center;
  color:#ffffff;
  padding: 0 20px;
}
.col-positive-unit .icon-descriptor.less-padding{
  padding: 0 12px;
}
.col-positive-unit .icon-descriptor.more-padding{
  padding: 0 22px;
}
.col-positive-unit .icon-descriptor.x-more-padding{
  padding: 0 35px;
}
body.index section h2{
  padding-top:10rem;
  font-size:3.2rem;
  color:#ffffff;
  padding-bottom:2rem;
  outline: none;
}
body.index section p.description{
  padding-bottom:10rem;
  color:#ffffff;
}
section.fitness img.fitness-image{
  width:100%;
  margin-top:-300px;
}
body.index section.language h2 {
    padding-top: 2rem;
    font-size: 3.2rem;
    color: #ffffff;
    padding-bottom: 2rem;
}
section.language img.language-image{
  width: 120%;
  max-width: none;
  margin-top: -166px;
  margin-left: -130px;
}
section.time-2-chill img.time-2-chill-image{
  width: 100%;
  margin-top: -50px;
}
section.time-2-chill .footer-shard{
  position:absolute;
  width:100%;
  bottom:0px;
  left:0px;
  z-index:1;
}

footer{
  z-index:1;
  background: #51c8e3; /* Old browsers */
}
img.footer-logo{
  width:251px;
  margin-top:30px;
}
img.footer-award{
  width:165px;
  max-width: calc(50% - 15px);
  display:inline-block;
  margin-left:15px;
  float:right;
}
.footer-misc{
  margin-top:100px;
  font-size:1.2rem;
  text-align:center;
  margin-bottom:30px;
}

.bottomMenu {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, .9);
    z-index: 2;
    padding: 20px;
    padding-left: 40px;
    padding-right: 5px;
}
.bottomMenu .buttoncontainer {
    float: right;
}
.buttoncontainer .cta {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  margin-right: 10px;
}
.mobile {
  display: none;
}
.paddingtop40 {
  padding-top: 40px;
}
.quote {
  font-size: 12px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1800px) {
  
  .blue-cloud-bottom-shard {
      margin-top: -50px;
  }

}

@media only screen and (max-width: 1400px) {

  section.fitness img.fitness-image {
      margin-top: -250px;
  }

}

@media only screen and (max-width: 1400px) {

  .index-video-content {
      margin-top: -135px;
  }
  .positive-top-shard {
      margin-top: -75px;
  }

}

@media only screen and (max-width: 1300px) {
  
  .navbar >.container .navbar-brand {
    margin-left: 0px;
  }
  .navbar-brand > img.five-a-day-logo {
    width: 200px;
  }
  
}


@media only screen and (max-width: 1199px) {
	
  html, body {
    font: normal 9px/1.4 arial,sans-serif;
  }
  .index-video-content {
      margin-top: -100px;
  }
  .positive-top-shard {
      margin-top: -90px;
  }
  img.hero-index.hero-image {
    margin-top: -20%;
  }
  section.fitness img.fitness-image {
    width: 100%;
    margin-top: -215px;
  }
  section.language img.language-image {
    width: 100%;
    max-width: none;
    margin-top: -105px;
    margin-left: 0px;
  }
	
}

@media only screen and (max-width: 991px) {
	
  html, body {
    font: normal 8px/1.4 arial,sans-serif;
  }
  .navbar .navbar-nav {
    margin-top: 36px;
  }
  .navbar .navbar-nav li a {
    font-size: 16px;
    margin: 12px;
  }
  a.log-in {
    font-size: 16px;
    margin-top: 3px;
    margin-left: 20px;
  }
  img.hero-index.hero-image {
      margin-top: -5%;
  }
  .blue-cloud-bottom-shard {
      margin-top: 0px;
  }
  .positive-top-shard {
      margin-top: -60px;
  }
  /* Video */
  .index-video-content {
    margin-top: -50px;
  }
  /* Section - Positives */
  .col-positive-unit {
    width: 25%;
  }
  /* Section Fitness */
  body.index section h2 {
    padding-top: 5rem;
  }
  section.fitness img.fitness-image {
      margin-top: -175px;
  }
  body.index section p.description {
    padding-bottom: 5rem;
  }
  /* Section Language */
  section.language img.language-image {
      margin-top: -80px;
  }
	
}

@media screen and (max-width: 915px) {
  .bottomMenu {
    width: 25%;
  }
}

@media only screen and (max-width: 767px) {

  /*[data-aos][data-aos][data-aos-delay="500"].aos-animate, body[data-aos-delay="500"] [data-aos].aos-animate {
    transition-delay: .0s;
  }
  [data-aos][data-aos][data-aos-delay="500"].aos-animate, body[data-aos-delay="500"] [data-aos].aos-animate {
    transition-delay: .0s;
  }*/

  .ptopmobile {
    padding-top: 30px;
  }

  br {
    display: none;
  }
	
	/* Mobile Menu */
	.navbar-header button{
		display:block;    
    margin-top: 37px;
    margin-right: 30px;
	}
  .navbar-brand > img.five-a-day-logo {
    margin-left: 15px;
    margin-bottom:15px;
  }
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,0);
    box-shadow: inset 0 0px 0 rgba(255,255,255,0);
  }
  .navbar .navbar-nav {
    margin-left:-15px;
    margin-right:-15px;
    margin-top: 5px;
    float: none;
    border-top:1px solid #51c8e3;
    border-bottom:1px solid #51c8e3;
    background-color:#ffffff;
  }
  .navbar .navbar-nav li {
    padding-bottom:5px;
    border-bottom:1px solid #51c8e3;
  }
  .navbar .navbar-nav li a {
    text-align: center;
    color:#51c8e3;
  }
  .navbar .navbar-nav li a.active, .navbar .navbar-nav li a:hover {
    border-bottom: none;
  }
  a.log-in {
    float: none;
    display: table;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  /* */
  body.index .hero {
    padding-top: 5rem;
    padding-bottom: 0px;
  }
  img.hero-index.hero-image {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 5rem;
    margin-bottom: -10rem;
  }
  /* Video */
/*  .index-video-content {
    display:none;
  }*/
  .index-video-replacement-slider {
    display:block;
  }
  body.index .top{
    z-index:2000;
  }
  .positive-top-shard {
    margin-top: -50px;
  }
  /* Positives */
  .col-positive-unit {
    width: 50%;
  }
  /* Section Fitness */
  section.fitness img.fitness-image {      
      max-width: 500px;
      margin: 0 auto;
      display:block;
      margin-top: -130px;
  }
  /* Section Language */
  body.index section.language h2 {
    padding-top: 5rem;
    font-size: 3.2rem;
    color: #ffffff;
    padding-bottom: 2rem;
  }
  section.language img.language-image {
    max-width: 500px;
    margin: 0 auto;
    display: block;
    margin-top: -130px;
  }
  /* Section Chill */
  section.time-2-chill img.time-2-chill-image {
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
  /* Footer */
  img.footer-logo {
    max-width: 50%;
  }
  img.footer-award {
    width: 165px;
    max-width: 30%;
    float: none;
    margin-top: 45px;
  }
  .footer-misc {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .box2 {
    padding-left: 0;
    width: 100%;
  }
  .small {
    width: 90%;
  }
  .cta2 {
    margin-right: 70px;
    margin-left: 27%;
  }
  .small-box {
    margin-top: 10%;
  }
  .slider cite {
    width: 100%;
    margin-bottom: 50px;
  }
  .slider blockquote {
    padding: 50px;
    margin: auto;
  }
  .cta3 {
    margin-left: 39%;
  }

}

@media only screen and (max-width: 600px) {
	
.bottomMenu {
  display: none !important;
}

}

form .help-block {
  margin: 0;
  font-size: 14px;
  color: #f26f16;
  margin-top: 5px;
}
form .help-block.help-success {
  font-size: 18px;
  margin-top: 15px;
}

@media only screen and (max-width: 500px) {
	
  /* Section Fitness */
  section.fitness img.fitness-image {   
      margin-top: -80px;
  }
  /* Section Language */
  section.language img.language-image {
    margin-top: -64px;
  }
  /* Section Chill */
  section.time-2-chill img.time-2-chill-image {
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
  .cta3 {
    margin-left: 25%;
  }
	
}


@media (min-width: 768px) {

	.navbar {
	    border-radius: 4px;
	}
  form .help-block.help-success {
    transform: translateY(-15px);
  }

}

